*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

html{
    background: #001d3d;
}
main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
h1{
    text-align: center;
    font-size: 175px;
    width: 100%;
    color: #ffd60a;
}
h6{
    padding-top: 50px;
    font-size: 40px ;
    color: #ffd60a;
}

.container{
    display: flex;
    width: 100%;
    min-height: 550px;
    flex-flow: row;
    padding-top: 20px;
}


.content {
    width: 60%;
    padding-top: 50px;
    padding-left: 50px;
    color: #fff;
}
.odd {
    flex-flow: row-reverse;
}
h2{
    color:#ffd60a;
    padding-bottom: 20px;
    font-size: 100%;
}
p,li{
    line-height: 35px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    
}
img{
    width: 400px;
}
.footer{
    color:white;
    padding: 20px;
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
}
a{
    color:white;
}
div.footer{
    padding-bottom: 0%;
}
summary{
    padding-bottom: 10px;
}

@media (max-width:767px) {

    h1{font-size: 90px;}

    h6{font-size: 23px ;}

}
